<header>
  <%= render 'shared/user_signed_in' %>
</header>

<%= yield %>


<h1>注文完了</h1>
<p>注文数：<%= @order.total_number %><span>冊</span></p>
<p>合計金額：<%= @order.total_price %><span>円 (税込) </span></p>
<p>注文が完了しました。ありがとうございました。</p>
<%= link_to '商品一覧画面へ', products_path %>
