<header>
  <%= render 'shared/user_signed_in' %>
</header>

<%= yield %>
<% if @order.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
    <ul>
    <% @order.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<h1>注文完了</h1>
<p>注文数：<%= @order.total_number %><span>冊</span></p>
<p>合計金額：<%= @order.total_price %><span>円 (税込) </span></p>
<p>注文が完了しました。ありがとうございました。</p>
<%= link_to '商品一覧画面へ', products_path %>
