<%= form_with(model: book) do |form| %>
  <% if book.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.file_field :photo%>
  </div>


  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

  <div>
    <%= form.label :published_on %>
    <%= form.date_field :published_on %>
  </div>

  <div>
    <%= form.label :showing %>
    <%= form.check_box :showing %>
  </div>

  <div>
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="fields">
    <%= form.collection_check_boxes :tag_ids, Tag.all, :id, :name %>
  </div>

  <div>
    Status:
    <%= form.radio_button :status, :saling%>
    <%= form.label :status, "販売中" %>

    <%= form.radio_button :status, :sold_out%>
    <%= form.label :status, "売切れ" %>

    <%= form.radio_button :status, :reserve%>
    <%= form.label :status, "予約" %>

    <%= form.radio_button :status, :backordered%>
    <%= form.label :status, "入荷待ち" %>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
