<header>
  <%= render 'shared/user_signed_in' %>
</header>

<p ide=notice><%= notice%></p>


<%= yield %>


<h1>商品一覧画面</h1>

<table border="1">
  <thead>
    <tr>
      <th>Stauts</th>
      <th>Picture</th>
      <th>Title</th>
      <th>Author</th>
      <th>Published on</th>
      <th>Showing</th>
      <th>Price</th>
      <th>Show</th>
    </tr>
  </thead>

  <tbody>
    <% @book.each do |book| %>
        <td><%= book.status %></td>
        <td>
          <% if book.photo.attached? %>
            <%= image_tag book.picture %>
          <% else %>
            画像がありません
          <% end %>
        </td>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.published_on %></td>
        <td><%= book.showing %></td>
        <td><%= book.price %></td>
        <td><%= link_to '詳細・購入', product_path(book) %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
