<header>
  <%= render 'shared/user_signed_in' %>
  <div style="text-align: right;">
    <% if session[:cart_id] %>
      <%= link_to 'カートを見る', cart_path(session[:cart_id]) %>
    <% end %>
  </div>
</header>

<div class="container">
  <h1>詳細画面</h1>

  <div class="row">
    <div class="col-md-3">
      <p><strong>Picture</strong></p>
      <% if @book.photo.attached? %>
        <%= image_tag @book.picture %>
      <% else %>
        <%= image_tag "no_image.png", size: "300x200" %>
      <% end %>
    </div>

    <div class="col-md-9">
      <table class="table">
        <tr>
          <td><strong>Tag</strong></td>
          <td><%= @book.tags.map(&:name).join(',') %></td>
        </tr>
        <tr>
          <td><strong>Title</strong></td>
          <td><%= @book.title %></td>
        </tr>
        <tr>
          <td><strong>Author</strong></td>
          <td><%= @book.author %></td>
        </tr>
        <tr>
          <td><strong>Published on</strong></td>
          <td><%= @book.published_on %></td>
        </tr>
        <tr>
          <td><strong>Price</strong></td>
          <td><%= @book.price %></td>
        </tr>
        <tr>
          <td><strong>Status</strong></td>
          <td><%= @book.status %></td>
        </tr>
      </table>
    </div>
  </div>
  <% if @book.saling?%>
    <% if current_cart?(@book, @cart) %>
      <%= 'カートに入れました' %>
    <% else %>
      <%= link_to 'カートに入れる', line_items_path(book_id: book.id),
         data: {"turbo-method": :post}, class: 'btn btn-default' %>
    <% end %>
  <% elsif @book.sold_out? %>
    現在購入できません
  <% elsif @book.reserve?%>
    店頭にて予約受付中
  <% elsif @book.backordered? %>
    入荷待ち
  <% end %>
 
<br>
           
 <%= link_to '一覧画面', products_path %>
</div>
