<header>
  <%= render 'shared/user_signed_in' %>
</header>

<%= yield %>



<h1>詳細画面</h1>

  <p><strong>Tag</strong>:  <%= @book.tags.map(&:name).join(',') %></p>
  <p><strong>Title</strong>:  <%= @book.title %></p>
  <p><strong>Author</strong>: <%= @book.author %></p>
  <p><strong>Published on</strong>: <%= @book.published_on %></p>
  <p><strong>Showing</strong>:  <%= @book.showing %></p>
  <p><strong>Price</strong>:  <%= @book.price %></p>

 <%= link_to "購入", new_order_path(book_id: @book.id)%>
 <%= link_to "戻る", products_path%>